<% provide( :title, "About") %>
<h1>Unwritten English About Page</h1>
<div class="row">
  <%= bootstrap_tag :div, 8, 2 %>
    This is open source and developed by volunteers.  For bug reports,
    suggestions and offer to help out, please contact
    <%= mail_to "ajl@andersjlindeberg.se", "Anders Lindeberg" %>.
  </div>
</div>
