<% provide( :title, "Om") %>
<h1>Om webbsidan</h1>
<h2>Syfte</h2>
<p>
  Detta är ett en webbsida för bokning av
  <a href="http://www.brottsoffermyndigheten.se/om-oss/vittnesstod">vittnesstöd</a>
  till en domstol.
</p>
<p> Vittnesstödet vid Stockholms tingsrätt kan nås via ????? </p>
<h2>Teknik</h2>
<p>
  Webbsidan är öppen källkod och utvecklad med frivilligt arbete.
  Felrapporter, förbättringsförslag och erbjudande om hjälp kan sändas till
  <%= mail_to "anders.lindeberg@telia.com", "Anders Lindeberg" %>.
</p>

