<% provide( :title, "Om") %>
<h1>Om webbokningen</h1>
<div class="row">
  <%= bootstrap_tag :div, 8, 2 %>
    <h2>Syfte</h2>
    <p>
      Detta är ett en webbsida där vittnesstöd bokar sina pass, tills vidare
      endast vid Stockholms tingsrätt.  Vad "vittnesstöd" innebär kan du läsa
      om <%= link_to "här", WS_DEFINITION_URL %>.  Ägare av webbsidan är
      <%= link_to OWNER_NAME, OWNER_URL %>.
    </p>
    <h2>Teknik</h2>
    <p>
      Webbsidan är öppen källkod och utvecklad med frivilligt arbete.
      Felrapporter, förbättringsförslag och erbjudande om hjälp kan sändas till
      <%= mail_to "anders.lindeberg@telia.com", "Anders Lindeberg" %>.
    </p>
  </div>
</div>

