<% provide( :title, "Om") %>
<h1>Om webbsidan</h1>
<p>
  Detta är ett första utkast till en webbsida för bokning av
  <a href="http://www.brottsoffermyndigheten.se/om-oss/vittnesstod">vittnesstöd</a>
  till en domstol.
</p>

