<% provide(:title, 'Kontakt') %>
<div class="center hero-unit">
  <h1>Kontaktinformation</h1>
  <p> Information om hur man kontaktar vittnesstödsadministratören </p>
  <p> Information om hur man kontaktar ansvarig för webbsidan </p>
</div>

