<% provide( :title, "Kakor (Cookies)") %>
<div class="row">
  <%= bootstrap_tag :div, 8, 2 %>
    <h2>Kakor (cookies)</h2>
    <p><b>
      För att du ska kunna registrera dig eller logga in måste webbläsaren
      vara inställd på att acceptera cookies!
    </b></p>
    Detta innebär att en liten textfil sparas på din dator när du registrerar
    dig och loggar in för att vi ska veta vilken domstol du hör till och att
    du är inloggad. Läs mer om cookies hos
    <%= link_to "PTS", COOKIES_INFO_PTS %>.

    <h2>Ditt samtycke till cookies</h2>
    Cookies används på de flesta internetsidor och webbplatsägare är skyldiga
    att berätta detta. Genom att din webbläsare är inställd på att acceptera
    cookies samtycker du att ta emot cookies från denna webbplats.
  </div>
</div>

