<div class="center hero-unit">
  <h1>Vittnesstöd</h1>
  <h2>
    Detta är en sida där
    <a href="http://www.brottsoffermyndigheten.se/om-oss/vittnesstod">
      vittnesstöd
    </a> kan boka sina arbetspass.
  </h2>
<% if logged_in?
     if !current_user.enabled? %>
 <div class="center">
   Du kommer att få ett mejl till <%= current_user.email %> när du kan börja
   boka!
 </div>
  <% end %>
<% else %>
  <%= link_to "Registrera dig", sign_up_path,
              :class => "btn btn-large btn-primary" %>
  <p><small>
    (Om du redan är registrerad ska du klicka på <%= link_to '"Logga in"',
     log_in_path %> i menyraden bredvid "VITTNESSTÖD" upptill)
  </small><p>
<% end %>
</div>

