
<% if row <= sessions %>
  <% if row == taken + 1 %>
    <td><%= sessions - taken %> kvar att boka</td>
  <% else %>
    <td></td>
  <% end %>
<% elsif row == sessions + 1 %>
  <%= td_rowspan( max - row + 1).html_safe %>
<% end %>

