
<% provide( :title, 'Rondningar') %>
<h1>Rondningar</h1>

<%= render "week_picker" %>

<table class="table table-bordered table-condensed">
  <thead><tr>
    <th></th>
    <th>Datum</th>
    <th>Förmiddag</th>
    <th>Eftermiddag</th>
    <th>Noteringar</th>
    <% if current_user.admin? %>
      <th></th>
    <% end %>
  </tr><thead>
  <%= render @court_days %>
</table>

<%= render "week_picker" %>

