
<%  provide( :title, 'Rondningar') %>
<h1>Rondningar</h1>

<%= render :partial => "weekpicker",
           :locals => { :weekpicker_id => "top"} %>

<div id="court-days">
<%  session_span = 2
    notes_span = 6 %>
<%= bootstrap_row( "heading", nil, 
      bootstrap_col( 1, "offset1", nil, "Datum"),
      bootstrap_col( session_span, nil, nil, "Förmiddag"),
      bootstrap_col( session_span, nil, nil, "Eftermiddag"),
      bootstrap_col( notes_span, nil, nil, "Noteringar")
                 ).to_s.indent.html_safe %>
<%  @court_days.each_with_index do |court_day, ix| %>
<%=   render_day( court_day, session_span, notes_span,
                  ix == @court_days.count - 1).indent.html_safe %>
<%  end %>
</div>

<%= render :partial => "weekpicker",
           :locals => { :weekpicker_id => "bottom"} %>

