
<%  provide( :title, 'Rondningar') %>
<h1>Rondningar</h1>
<%= render :partial => "weekpicker",
           :locals => { :weekpicker_id => "top"} %>
<div id="court-days">
<%  session_span = 2
    notes_span = 6 %>
<%= bootstrap_row( "heading", nil, 
      bootstrap_col( 1, "offset1", nil, "Datum"),
      bootstrap_col( session_span, nil, nil, "Förmiddag"),
      bootstrap_col( session_span, nil, nil, "Eftermiddag"),
      bootstrap_col( notes_span, nil, nil, "Noteringar")).html.indent.html_safe %>
<%  @court_days.each_with_index do |court_day, ix|
      cols = [ bootstrap_col( 1, "weekday", nil, weekday( court_day.date))]
      cols << bootstrap_col( 1, nil, nil, court_day.date)
      offset = 0
      [ "morning", "afternoon"].each do |session|
        offered = court_day.send( session)
        rows = [ ]
        if current_user.admin?
          rows << bootstrap_row( nil, nil,
                    bootstrap_col( session_span, nil, nil,
                      "#{ offered} totalt"))
        end
        if offered > 0
          taken = court_day.send( session + "_taken")
          if offered - taken > 0
            rows << bootstrap_row( nil, nil, 
                      bootstrap_col( session_span, nil, nil,
                        "#{ offered - taken} kvar att boka"))
          end
          taken.times do
            rows << bootstrap_row( nil, nil,
                      bootstrap_col( session_span, nil, nil,
                        "NN"))
          end
        end
        if rows.count > 0
          cols << bootstrap_col( session_span, offset_to_class( offset), nil,
                    *rows)
          offset = 0
        else
          offset += session_span
        end
      end
      cols << bootstrap_col( notes_span, offset_to_class( offset), nil,
                h( court_day.notes).gsub( "\n", "<br/>").html_safe)
      court_day_class = [ "court-day"]
      court_day_class << "last" if ix == @court_days.count - 1
      court_day_id = "court-day-#{ court_day.date}" %>
<%=   bootstrap_row( court_day_class, court_day_id,
        *cols).html.indent.html_safe %>
<%  end %>
</div>

<%= render :partial => "weekpicker",
           :locals => { :weekpicker_id => "bottom"} %>

