<%  late_cancels.each do |late_cancel| %>
          <div class="row">
            <div class="span<%= span %> late-cancel">
              <%= late_cancel.user.name %>
            </div>
          </div>
<%  end %>
