<%  cancels.each do |cancel| %>
          <div class="row<%= cancel.late? ? ' late' : '' %> cancel">
            <%= cancel.user.name %>
            <%= cancel.cancelled_at.strftime( "%Y-%m-%d") %>
          </div>
<%  end %>
