<%  bookings.each do |booking| %>
          <div class="row<%=
                       current_user?( booking.user) ? " own-booking" : "" %>">
<%    if admin? && !booking.expired? %>
            <%= link_to booking.user.name, booking,
                        method: :delete,
                        data: { confirm:
                            t( "booking.cancel.confirm",
                               name: booking.user.name,
                               date: booking.court_session.date,
                               session: t( "court_session.name#{ booking.
                                            court_session.start}.short"))} %>
<%    else %>
            <%= booking.user.name %>
<%    end
      if admin? %>
            <%= booking.created_at.strftime "%F" %>
<%    end %>
          </div>
<%  end %>
