<% provide( :title, t( "users.index.title")) %>
<h1><%= @court ? t( "users.index.heading.long", court: @court.name) :
                 t( "users.index.heading.short") %></h1>
<ul class="index"><%= render @users %></ul>

