<% provide( :title, @user.name) %>
<div class="row">
  <aside class="span12">
    <section>
      <h1><%= @user.name %></h1>
    </section>
<% if current_user.admin? || current_user == @user %>
    <section>
      <%= @user.email %>
    </section>
<% end %>
  </aside>
</div>
<% if current_user.admin? && current_user == @user %>
<%= render :partial => "shared/xml_dump_n_restore" %>
<% end %>
