<% if model.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <%= t( "shared.error", count: model.errors.count) %>
    </div>
    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

