<div class="row xml-dump-n-restore" id="xml-dump-n-restore">
  <div class="span6 left">
    <%= link_to "Läs ut hela databasen till en fil", database_path %>
  </div>
  <div class="span6 right">
    <%= link_to "RADERA HELA DATABASEN och läs in en fil",
                new_database_path %>
  </div>
</div>
