<div class="row xml-dump-n-restore" id="xml-dump-n-restore">
  <div class="span6 left">
    <%= link_to t( "shared.dump.prompt"), database_path %>
  </div>
  <div class="span6 right">
    <%= link_to t( "shared.load.prompt"), new_database_path %>
  </div>
</div>
