<div class="row xml-dump-n-restore" id="xml-dump-n-restore">
  <%= bootstrap_tag :div, 6 %>
    <nav>
      <%= link_to t( "shared.dump.prompt"), database_path,
                  'data-turbolinks' => 'false' %>
    </nav>
  </div>
  <%= bootstrap_tag :div, 6, class: "pull-right" %>
    <nav class="pull-right">
      <%= link_to t( "shared.load.prompt"), new_database_path %>
    </nav>
  </div>
</div>
