<h1>VARNING!</h1>
<p>
Om du fortsätter kommer du att RADERA HELA DATABASEN och läsa in en fil med
nya data som ersätter de gamla.  Om inläsningen misslyckas finns varken gamla
eller nya användare och bokningar kvar, ingen kan logga in, och en expert
måste tillkallas för att man ska kunna få igång bokningen igen.
</p><p>
Data kan inte återställas, utan får skrivas in igen.
</p><p>
Men för all del, inläsningen KAN ju lyckas också!
</p><p>
De vittnesstöd som fanns när filen skapades men har försvunnit sedan dess
kommer då att återskapas med sina gamla lösenord, fast deaktiverade.  Alla
användare som finns innan filen läses in finns kvar efteråt, med samma
lösenord och roller, oavsett om de finns i den inlästa filen eller inte.
Det gör alltså inget om du själv inte finns i filen, du blir kvar med samma
domstol, namn och lösenord.
</p><p>
De bokningar som fanns när filen skapades kommer att synas, <em>och inga
andra</em>.  <small>(Vid eventuell överbokning kommer några godtyckligt valda
bokningar att saknas.)</small>
</p><p>
Om du har bytt namn på någon domstol mellan ut- och inläsning av en fil,
<em>byt tillbaka</em> före inläsningen.  (Eller ändra i filen, om du törs.)
</p>

