@import "bootstrap";


$gray-medium-light: #eaeaea;
$ajl-red: #c00;
$ajl-yellow: #c60;


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 4em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 0.7em;
  }
}

.index {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-light;
    &:last-child {
      border-bottom: 1px solid $gray-light;
    }
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -0.04em;
  margin-bottom: 0.7em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -0.02em;
  margin-top: 1em;
  margin-bottom: 0.7em;
  text-align: center;
  font-weight: normal;
  color: $gray;
}

p {
  margin-top: 0.5em;
  font-size: 1.1em;
  line-height: 1.2;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 2em;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  } 
}


/* forms */

input, textarea, select, .uneditable-input {
  width: 100%;
  padding: 0.5%;
  margin-bottom: 1%;
}

.btn{
  width: auto;
}

label {
  margin-bottom: 0%;
}

input, select {
  height: auto !important;
}

.form-inline {
  margin-bottom: 0;
  input, textarea, select {
    width: auto;
    padding: 0.05em;
  }
}

.alert-error {
  @extend .alert-danger;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  color: #f00;
}


/* users index */

a.disabled-user {
  color: $ajl-red;
  font-weight: bold;
  text-decoration: underline;
}


/* court_days index */

.court-day {
  textarea {
    width: 100%;
    height: 5em;
  }
}

.court-day-date {
  padding-left: 0.7em;
}

select.parallel-sessions {
  margin-right: 0.4em;
}

div.own-booking {
  font-weight: bold;
}

div.to-book {
  &.urgent {
    color: $ajl-yellow;
    font-weight: bold;
  }
  &.immediate {
    color: $ajl-red;
    font-weight: bold;
  }
}

div, span {
  .overbooked {
    color: $ajl-red;
    font-weight: bold;
  }
}

.cancel {
  text-decoration: line-through;
}

.late.cancel {
  color: $ajl-red;
}

.dateselector {
  text-align: center;
  .datepicker {
    width: 6em;
  }
}

#dateselector-top {
  margin-bottom: 2em;
}

#dateselector-bottom {
  margin-top: 2em;
}

#court-days {
  .heading {
    margin-top: .5em;
    font-weight: bold;
    .weekday {
      text-align: center;
    }
  }
  .court-day {
    border-top: 1px solid $gray-light;
    .weekday {
      text-align: right;
    }
    &.last {
      border-bottom: 1px solid $gray-light;
    }
  }
}


/* database */

.database-management {
  .datepicker {
    width: 6em;
  }
  .row-count {
    width: 4em;
  }
}


/* miscellaneous */

.xml-dump-n-restore {
  margin-top: 1.5em;
}

input {
  &#admin_pw, &#user_pw {
    width: 10em;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

