<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <small>
          <%= link_to OWNER_NAME, OWNER_URL %>.
        </small>
      </div>
      <div class="col-md-6">
        <nav class="pull-right">
          <%= link_to t( "general.about.long"), about_path %>
        </nav>
      </div>
    </div>
  </div>
</footer>

