<footer class="footer">
  <small>
    <%= link_to OWNER_NAME, OWNER_URL %>.
  </small>
  <nav>
    <ul>
      <li><%= link_to t( "general.about.long"), about_path %></li>
    </ul>
  </nav>
</footer>

