<footer class="footer">
  <small>
    xxxxxx
  </small>
  <nav>
    <ul>
      <li><%= link_to "Om webbsidan",       about_path %></li>
      <li><%= link_to "Kontaktinformation", contact_path %></li>
    </ul>
  </nav>
</footer>

