<footer class="footer">
  <small>
    <%= link_to "Brottsofferjouren Sydöstra Stockholm", BOJ_SOS_URL %>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Om webbsidan",       about_path %></li>
    </ul>
  </nav>
</footer>

