<footer class="footer">
  <small>
    <%= link_to "Brottsofferjouren Sydost", BOJ_SO_URL %>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Om webbsidan", about_path %></li>
    </ul>
  </nav>
</footer>

