<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Bokning av vittnesstöd", '#', :id => "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Start",    root_path %></li>
          <li><%= link_to "Hjälp",    '#'       %></li>
          <li><%= link_to "Logga in", '#'       %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

